.linksContainer{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 200px auto 300px auto;
  background-color: #0093E9;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.merchContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  left:0; 
  right:0; 
  margin:30px auto;
}

.linkTitle{
  font-size: 45px;
  font-weight: 500;
  letter-spacing: -2px
}

.linkPhrase{
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.linksTabContainer{
  display: flex;
  justify-content: space-evenly;
}

.challengeImgDiv{
  display: flex;
  justify-content: center;
}

.challengeImg{
  width: 100%;
}

p{
  font-size: 20px;
}

#text {
  border-bottom: 2px solid
}


a div.link{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: black;
  background: #F5F5F5;
  height: 100px;
  width: 200px;
  padding: 30px 20px;
  text-align: center;
  margin: 0 30px;
  border-radius: 20px;
  line-height: 0.9em;
  font-size: 40px;
  font-weight: 500;
}

.link:nth-child(1){
  grid-column: 1 / span 2;
}

.linkTitle{
  margin-bottom: 30px;
  font-size: 50px
}