.linksContainer{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 200px auto 300px auto;
}

#insightTopbarPos{
  height: 70px;
}

.merchContainer{
  display: flex;
  flex-direction: column;
  left:0; 
  right:0; 
  margin:30px auto;
  background-color: #0093E9;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.linkTitle{
  font-size: 45px;
  font-weight: 500;
  letter-spacing: -2px
}

.linkPhrase{
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.linksTabContainer{
  display: flex;
  justify-content: space-evenly;
}

.challengeImgDiv{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.challengeImg{
  width: 100%;
}

p{
  font-size: 20px;
}

#text {
  border-bottom: 2px solid
}


.link{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: black;
  background: #F5F5F5;
  height: 100px;
  width: 200px;
  padding: 30px 20px;
  text-align: center;
  margin: 20px 30px;
  border-radius: 20px;
  line-height: 0.9em;
  font-size: 40px;
  font-weight: 500;
}

.link:nth-child(1){
  grid-column: 1 / span 2;
}

.linkTitle{
  margin-bottom: 30px;
  font-size: 50px
}

@media (max-width: 768px) {
  .linksContainer{
    width: 100%;
    margin: 20px auto;
  }
  
  .merchContainer{
    width: 100%;
  }

  .linkPhrase{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .linkTitle{
    font-size: 45px;
  }
  

  .linksTabContainer{
    display: flex;
    width: 100%;
    flex-direction:column;
    align-items: center;
  }
  
  .challengeImg{
    max-width:100%; 
    max-height:auto;
  }
  .link{
    width: 70%;
    height: 10%;
    margin: 20px auto;
    font-size: 35px;
  }

  .link div{
    width: 200px;
  }
  .challengeImgDiv{
    margin-top: 20px;
  }
}