.homepage{
  background-color:black;
}
.landingTitleVideo{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.mainPage{
  display: flex;
  flex-direction:column;
  align-items: center;
  visibility: hidden;
  justify-content: center;
  background-color: transparent; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mainClock{
  display: flex;
  width: 80%;
  justify-content: center;
  font-family: "digital";
  color: white;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 300px;
}


.colonBox{
  font-family: "digital";
  margin: 0 10px;
}

.clockBox{
  display: flex;
  flex-direction:column;

}
.bigBox{
  display: flex;
}
.smallBox{
  text-align: center;
  font-family: "digital";
  width: 70px;
  height: auto;
  margin: 0 5px;
  background-color:transparent;
  border-radius: 5px;
}

.welcomeText{
  font-family: "digital";
  color: white;
  font-size: 100px;
}
.clockText{
  font-family: "digital";
  text-align: end;
  font-size:20px;
}

@font-face {
  font-family: 'digital';
  src: url('./digital-7_mono.ttf') format('truetype');
}

#countOverText{
  font-family: "digital";
  font-size:45px;
  color: white;
}

#mainClock1{
  text-align: center;
}



.landing-footer-right a{
  font-size: 25px;
  margin: 0 10px;
}

.landingCopy{
  font-size:10px;
  color:white;
  text-align: center;
  margin-top: 6px;
}