.topbarContainer {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  z-index: 999;
  transition-duration: 2s;
}

#nav-colored {
  background-color: white;
  transition-duration: 1s;
}
#nav-transparent {
  background-color: white;
  opacity: 0.7;
  transition-duration: 1s;
}

.topbarLeft {
  position: relative;
  display: flex;
  height: 100px;
  flex: 2;
  align-items: center;
}

.topbarRight {
  flex: 7;
}
#home {
  color: #293466;
}
#contactus{
  margin-left: 20px;
  color: #5ab94b;
}

ul {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.logo {
  height: auto;
  /* flex: 3; */
}

.logoImg {
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
  height: auto;
  object-fit: cover;
}
.brand {
  height: 100px;
}
.brandImg {
  height: 100px;
  width: 200px;
  margin-left: 100px;
  object-fit: cover;
}

.topbarRight {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.menu {
  padding: 20px;
  border-right-color: black;
}
