.topbarContainer {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}

.topbarLeft {
  position: relative;
  display: flex;
  height: 100px;
  flex: 2;
  align-items: center;
}

.topbarRight {
  flex: 7;
}
*/ #home {
  color: #5ab94b;
}

ul {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.logo {
  height: 100px;
  /* flex: 3; */
}

.logoImg {
  margin-left: 180px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.brand {
  height: 100px;
}
.brandImg {
  height: 100px;
  width: 200px;
  margin-left: 100px;
  object-fit: cover;
}

.topbarRight {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

.menu {
  padding: 20px;
  border-right-color: black;
}
