.ecosystemContainer {
  /*display: flex;
  justify-content: center;
  position: relative;
  z-index: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .-\31 {
  width: 36px;
  height: 36px;
  margin: 51px 90px 127px 86px;
  position: relative;
  display: block;
  position: absolute;
} */

.img31 {
  width: 70px;
  height: 70px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
