.titleVideo {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.bodyTopContainer {
  width: 100%;
  background-color: #eaeaea;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

.bodyMidContainer {
  padding-top: 30px;
  background-color: #eaeaea;
}
