.titleContainer{
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("BG.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.phrasesContainer{
  flex:5;
}

.phrases{
  color: white;
  font-size: 30px;
  width: 500px;
  padding: 100px;
  margin-left: 100px;
  text-align: center;
}