.partnersGridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 80px 80px 80px 80px;
  gap: 30px;
  background: center no-repeat url("./worldmap.png");
}

.partnersTitle {
  margin: 30px 0 30px 38px;
  font-size: 45px;
  font-weight: 500;
}
.partnersItem {
  /* border: 1px dotted black; */
  border-radius: 2px;
  height: 80px;
  align-content: center;
}

.partnerImg {
  height: 80px;
  width: 200px;
  object-fit: scale-down;
  background-color: rgba(255, 255, 255, 0.5);
}
