/* external css: flickity.css */

* {
   box-sizing: border-box;
}
.carousel {
  background: transparent;
  position: absolute; 
  top: 73%; 
  width: 30%;
  margin-left: auto;
  margin-right: auto; 
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
}
.carousel-cell b{
  display: block;
  font-size: 36px;
  font-weight: 600;
  top: 30%;
  left: 30%;
}
.carousel-cell span{
  left: 30%;
  top: 50%;
}


/* cell number */

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel:focus{
  outline: none;
}