.carousel {
  width: 80%;
  visibility: hidden;
  background: transparent;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  width: 50%;
  left: 0;
  right: 0;
}

.carousel-cell {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-left: solid 1px black;
}

.bItems {
  font-size: 35px;
}

.spanItems {
  font-size: 15px;
}

/* .carousel-cell:not(.is-selected) {
  transform: scale(0.9);
} */

/* .carousel-cell:before {
  border-style: none;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.carousel:focus {
  outline: none;
}

/* * {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: white;
} */

/* .carousel-cell b {
  display: flex;
  align-items: center;
  align-content: flex-start;
} */
/* .carousel-cell b {
  
  font-size: 36px;
  font-weight: 600;
} */
