/* external css: flickity.css */

* {
   box-sizing: border-box;
}
.carousel {
  visibility: hidden;
  background: transparent;
  overflow: hidden;
  position: absolute; 
  top: 80%; 
  width: 60%;
  left: 0;
  right: 0;
  margin-right:auto;
  margin-left:auto;
}

.carousel-cell {
  width:30%;
  height: 100px;
  background: transparent;
  border-right: solid 1px black;
  border-left: solid 1px black;
  text-align: center;
}
.carousel-cell b{
  display: block;
  font-size: 36px;
  font-weight: 600;
  top: 30%;
  left: 30%;
}
.carousel-cell span{
  left: 30%;
  top: 50%;
}

/* cell number */

.carousel-cell:before {
  border-style: none;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel:focus{
  outline: none;
}